# **2022 Python Programming Practical 1**

If you do not have one already, create a [GitHub](https://github.com) account.

Create a public repository ctcuc22

File --> Save a copy in GitHub under this repository

For the following questions,

*   standard input: keyboard
*   standard output: screen

**Q1. (Converting Fahrenheit to Celsius)**

Write a program that reads a Fahrenheit degree as a float from standard input, then converts it to Celsius and displays the result in standard output. The formula for the conversion is:
```
celsius = (5/9) * (fahrenheit - 32)
```

In [3]:
fahrenheit = float(input("Enter temperature in Fahrenheit: "))
celsius = (5/9 * (fahrenheit - 32))
print(celsius)

Enter temperature in Fahrenheit: 60
15.555555555555557

**Q2. (Computing the volume of a cylinder)**

Write a program that reads in the radius and length of a cylinder and computes its volume using the formulae:
```
area = radius * radius * pi
volume = area * length
```

In [10]:
radius = int(input("Enter radius of cylinder: "))
length = int(input("Enter length of cylinder: "))
volume = radius * radius * pi * length
print(volume)

Enter radius of cylinder: 5
Enter length of cylinder: 8
628.4

**Q3. (Converting miles into kilometers)**

Write a program that reads a number in miles, converts it to kilometres, and outputs the result. One mile is 1.60934 kilometres. Display your answer correct to 3 decimal places.

In [15]:
mile = input("Enter distance in miles: ")
kilometres = float(mile) * 1.60934
print(round(kilometres,3))

Enter distance in miles: 100
160.934

**Q4. (Summing the digits in an integer)**

Write a program that reads an integer between 0 and 1000 and adds all the digits in the integer. For example, if an integer is 932, the sum of all its digits is 14.

Hint: Use the % operator to extract digits, and use the // operator to remove the extracted digit. For instance, 932 % 10 = 2 and 932 // 10 = 93

In [30]:
integer = input("Enter integer here: ")
digit_one = int(integer) % 10
digit_twohalf = int(integer) // 10
digit_two = int(digit_twohalf) % 10
digit_threehalf = int(digit_twohalf) // 10
digit_three = int(digit_threehalf) % 10
sum = digit_one + digit_two + digit_three
print(sum)

Enter integer here: 45
9

**Q5. (Converting an uppercase letter to lowercase)**

Write a program that converts an uppercase letter from standard input to a lowercase letter by making use of its ASCII value.

http://www.asciitable.com

In [ ]:
upper = input("Enter uppercase letter: ")
lower = ord(upper) + 32 # ordinal
print(chr(lower))

Enter uppercase letter: Y
y

**Q6. (Finding the character of an ASCII code)**

Write a program that receives an ASCII value (an integer between 0 and 127) and displays its character. For example, if the user enters 97, the program displays character a.

http://www.asciitable.com

In [33]:
integer = int(input("Enter integer: "))
print(chr(integer))

Enter integer: 97
a

**Q7. (Payroll)**

Write a program that reads in the following information and prints a payroll statement. A sample input and output session is as follows:

Sample input:
```
Enter name: Lim Ah Seng
Enter number of hours worked weekly: 10
Enter hourly pay rate: 6.75
Enter CPF contribution rate(%): 20
```

Sample output:
```
Payroll statement for Lim Ah Seng
Number of hours worked in week: 10
Hourly pay rate: $6.75
Gross pay = $67.50
CPF contribution at 20% = $13.50
Net pay = $54.00
```

In [53]:
name = input("Enter name: ")
hour = int(input("Enter number of hours worked weekly: "))
rate = float(input("Enter hourly pay rate: "))
cpf = float(input("Enter CPF contribution rate(%): "))
print("Payroll statement for " + name)
print("Number of hours worked in a week:" , hour)
gross = float(hours * rate)
gross_two = "{:.2f}".format(gross)
print("Gross pay = $" + gross_two)
cpf_contri = float(gross * 0.2)
cpf_contri_two = "{:.2f}".format(cpf_contri)
print("CPF contribution at 20% = $" + cpf_contri_two)
net = float(gross - cpf_contri)
net_two = "{:.2f}".format(net)
print("Net pay = $" + net_two)

Enter name: Lim Ah Seng
Enter number of hours worked weekly: 10
Enter hourly pay rate: 6.75
Enter CPF contribution rate(%): 20
Payroll statement for Lim Ah Seng
Number of hours worked in a week: 10
Gross pay = $67.50
CPF contribution at 20% = $13.50
Net pay = $54.00